*{
  background-color: rgb(231, 253, 226);
}

.App {
  text-align: center;
}

/* navbar and header*/
.title{
  margin-top: 50px;
  margin-left: 540px;
  margin-right: 540px;
  padding-top:25px;
  padding-bottom:25px;
  color:rgb(147, 147, 147);
  text-decoration: overline;
}

.navbar div{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: rgb(145, 106, 7);
}

.navbar div:hover{
  color:darkmagenta;
  font-weight: bold;
}

/* footer */
.footer{
  color:rgb(147, 147, 147);
  font-size: 17px;
  padding-top: 90px;
}

.footer a{
  text-decoration: none;
  color: rgb(145, 106, 7);
}

.footer a:hover{
  color:darkmagenta;
  font-weight: bold;
}

/* home  */
